#img {
    margin-top: 15px;
    border: black solid;
    border-radius: 20px;
    width: 250px;
    height: 250px;
}

#img2 {
    margin-top: 10px;
    margin-left: -20px;
    width: 150px;
    height: 50px;
}

#Phrase {
    text-decoration: underline black;
    font-size: 20px;
}

#Titre {
    border: solid black;
    border-radius: 40px;
}

#Bouton12 {
    background-color: white;
}

#boutonbor {
    margin-top: 8px;
}

#Renseignement {
    border-radius: 40px;
    border: 2px solid black;
    background-color: salmon;
}

#Titre1 {
    border: solid black;
    border-radius: 30px;
}


#boutonbor1 {
    margin-top: 6px;
}

#Bouton11 {
    background-color: white;
}

#Titre2 {
    border: black solid;
    border-radius: 30px;
}

#boutonbor2 {
    margin-top: 6px;
}

#Bouton22 {
    background-color: white;
}

#Titre3 {
    border: solid black;
    border-radius: 30px;
}

#boutonbor3 {
    margin-top: 6px;
}

#Bouton33 {
    background-color: white;
}

#Titre4 {
    border: solid black;
    border-radius: 30px;
}

#boutonbor4 {
    margin-top: 7px;
}

#Bouton44 {
    background-color: white;
}

#Formulaire {
    text-align: center;
}

#Envoyer {
    background-color: #005cbf;
    color: white;
}