#img {
    width: 250px;
    height: 250px;
}

#img2 {
    width: 150px;
    height: 50px;
}

#Renseignement {
    border: 2px solid black;
}

#TitrePrincipal {
    border: 2px solid black;
}

#titresecondaire{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#boutonbor1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin-bottom: 8px;
}

#TitreTrois {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#boutonbor2 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin-bottom: 8px;
}

#TitreQuatre {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#boutonbor3 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin-bottom: 8px;
}